<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{base :: parent(~{::#content}, ~{::#title}, ~{::#script})}">
    
    <th:block id="title">
      <title>Home Page</title>
    </th:block>

    <th:block id="content">
      <h1>Welcome to Home page</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, ullam?</p>
    </th:block>

    <th:block id="script">
      <script>
        console.log("Home page");
      </script>
    </th:block>

  </th:block>
</html>
